<div class="ui-g">
    <div class="ui-g-12">
        <div class="container">
            <h1>CREADOR DE GRUPOS</h1>
        </div>
        <div class= "ui-g-12 ui-md-6 ui-lg-12">

            <div class= "ui-g-4 ui-md-2 ui-lg-4"></div>
            <div class= "ui-g-4 ui-md-2 ui-lg-4"> 
                <button pButton type="button" label="Start" class="ui-button-rounded" (click)='startButton()'></button>
            </div>
            <div class= "ui-g-4 ui-md-2 ui-lg-4"> </div>

        </div> 
    </div>
</div>

