

<div class="ui-fluid">
    <div class= "ui-g" >
        <div class= "ui-g-12 ui-md-6 ui-lg-12">
            <h2 >Miembros</h2>
            <div class= "ui-g-12 ui-md-3 ui-lg-6">
                <span class="ui-float-label">
                    <input [(ngModel)]="newMember" id="float-input" type="text" pInputText> 
                    <label for="float-input">Nombre</label>
                </span>
            </div>
            
            <div class= "ui-g-12 ui-md-3 ui-lg-12">
            </div>

            <div class= "ui-g-4 ui-md-2 ui-lg-4"> </div>
            <div class= "ui-g-4 ui-md-2 ui-lg-4"> 
                <button pButton type="button" label="Añadir" class="ui-button-rounded" (click)='addMember()'></button>
            </div>
            <div class= "ui-g-4 ui-md-2 ui-lg-4"></div>

            <div class= "ui-g-12 ui-md-3 ui-lg-12" pDropapable="members"
                (onDrop)="drop($event)", [ngClass]="{'ui-highlight-member':draggedMember}"
                >
                    <p-table *ngIf=members [columns]="cols" [value]="members" [responsive]="true">
                            <ng-template pTemplate="caption">
                                Members
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-m >
                                    <tr (onDragStart)="dragStart($event,m)" (onDragEnd)="dragEnd($event)"><!--<tr  (click)='removeMember(m)'>-->
                                        <td>{{m.nombre}}</td>
                                    </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                There are {{members?.length}} Power Rangers
                            </ng-template>
                        </p-table>
            </div>
            
            <div class= "ui-g-12 ui-md-2 ui-lg-12"> 
                <button pButton type="button" label="Crear Definitivo" class="ui-button-rounded" (click)='shuffleGroups()'></button>
            </div>


        </div>
    </div>
</div>




