

<div class="ui-fluid">
    <div class="ui-g-2 ui-md-5 ui-lg-5"></div>
    <div class="ui-g-10 ui-md-7 ui-lg-7 ui-g-nopad">
            <div class="ui-g-12"></div>
            <div class="ui-g-12 ui-g-nopad">
                <img src="../assets/random.gif" alt="go go poweRanger">
            </div>
            
    </div>
    <div class= "ui-g-12 ui-md-2 ui-lg-12"> 
            <button pButton type="button" label="Mostrar" class="ui-button-rounded" (click)='nextComponent()'></button>
    </div>
</div>

